.row {
    width: 90%;
    margin: 0 auto;
    padding: 3rem 2rem;;
}

.btn,
.btn:link,
.btn:visited {
    text-decoration: none;
}

.btn--primary {
    display: inline-block;
    width: 20rem;
    height: 6rem;
    color: #fff;
    background-image: linear-gradient(to left, var(--color-primary-light, 20%), var(--color-primary-dark, 80%));
    border-radius: 6rem;
    font-size: 1.4rem;
    padding: 1.5rem 2.5rem;
    text-transform: uppercase;
    position: relative;
    transition: all 0.2s ease;
    z-index: 2;

    &::before {
        content: "Book now!";
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 1.5rem 2.5rem;
        position: absolute;
        left: 0;
        top: 4px;
        opacity: 1;
        transition: all 0.2s ease;
        z-index: 3;
        transition: all 0.2s ease;
    }

    &:after {
        content: "Only 4 rooms left!";
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 1.5rem 2.5rem;
        position: absolute;
        left: 0;
        top: 4px;
        opacity: 0;
        transform: translateY(-1rem);
        transition: all 0.2s ease;
    }

    &:hover {
        background-image: linear-gradient(to right, var(--color-primary-light, 10%), var(--color-primary-dark, 90%));
    }

    &:hover::before {
        opacity: 0;
        transform: translateY(1rem);
    }

    &:hover::after {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn--underlined {
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-primary-dark);
    font-size: 1.2rem;
    transition: all 0.2s ease;
    color: var(--color-primary-dark);

    &:hover {
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(1px);
    }
}